* {
  font-family: 'monospace';
  font-size: 14px;
  color: #cdd6f4;
  padding: 0;
  margin: 0;
}

button {
  all: unset;
}

separator {
  border-radius: 8px;
  min-height: 1px;
  min-width: 1px;
}

calendar {
  padding: 8px;
}

button,
image {
  padding-left: 1px;
  padding-right: 1px;
  min-width: 2em;
  min-height: 2em;
}

.section {
  background-color: #1e1e2e;
  opacity: 0.93;
  padding: 0 0.2em;
  margin-right: 4px;
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 8px;
  min-height: 45px;
}

.workspaces button {
  padding-left: 4px;
  padding-right: 4px;
}

.workspaces button:hover,
.workspaces button.focused {
  opacity: 0.75;
}

.player {
  min-height: 40px;
  padding: 2px;
}

.player circular-progress {
  min-width: 35px;
  min-height: 35px;
  font-size: 5px;
  background: #414559;
  color: #babbf1;
}

.player circular-progress image {
  color: #cdd6f4;
  font-size: 12px;
}

.player .img {
  min-width: 40px;
  min-height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

menu {
  background-color: #1e1e2e;
  opacity: 0.93;
  padding: 8px;
  border-radius: 8px;
}

menu menuitem {
  padding: 8px;
  margin: 2px;
}

.avatar {
  border-radius: 50%;
  min-width: 70px;
  min-height: 70px;
  background-size: cover;
}

.menu-player .img {
  min-width: 110px;
  min-height: 110px;
  margin-right: 8px;
  background-size: cover;
  background-position: center;
}

.quick-settings-menu {
  min-width: 450px;
  min-height: 360px;
  padding: 10px;
  margin: 4px;
  border-radius: 8px;
  background-color: #1e1e2e;
}

.toggle-button {
  background-color: #313244;
  padding: 0px;
  margin: 5px;
  border-radius: 8px;
  min-width: 225px;
  min-height: 50px;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.toggle-button .icon {
  padding: 4px;
}

.menu-icon {
  padding: 12px;
}

.play-pause,
.wallpaper-page {
  margin: 0 12px;
}

.settings-power {
  padding: 8px;
  margin: 1px;
  border-radius: 8px;
  background-color: #313244;
}

.wallpapers {
  min-height: 300px;
  background-color: #1e1e2e;
  padding: 10px;
}

.notification {
  background-color: #1e1e2e;
  min-width: 400px;
  min-height: 70px;
  margin: 8px;
  border-radius: 8px;
  opacity: 0.93;
  padding: 24px;
  border: 2px;
  border-style: solid;
  border-color: #b4befe;
}
